#imc {
   max-width: 30rem;
   margin: auto;

   h2 {
      font-size: 2rem;
      text-align: center;
      margin: .5rem;
   }
}

#imcInputContainer {
   margin: auto;
   font-size: 1.5rem;
   width: 60%;
   align-items: center;

   .inputsDiv {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      padding: .25rem;
   }

   .radioBtns {
      width: 100%;
      margin: auto;
      text-align: center;
      // border: 1px solid black;
   }

   #btnContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .25rem;
   }

   .buttons {
      font-size: 1.5rem;
      width: 14rem;
      background-color: white;
      border: 1px solid black;
      border-radius: .35rem;
      margin: .25rem;
   }

}


@media screen and (max-width: 600px) {
   #ORMInput {
      width: 60%;
   }

   #imcInputContainer #btnContainer {
      display: flex;
      flex-flow: wrap column;
   }
}

@media screen and (max-width: 400px) {
   .radioBtns {
      display: flex;
      flex-flow: wrap column;
   }
}