*,
body {
  margin: 0;
}

body {
  margin-bottom: 5rem;
  background-color: gray;
}

.hidden {
  display: none;
}

header {
  width: 100vw;
  height: 4rem;
  background-color: rgb(171, 171, 171);
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
}
header h1 {
  text-align: center;
  padding-top: 1rem;
}

nav {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem;
}

a {
  text-align: center;
  margin: auto 1rem;
  text-decoration: none;
  color: black;
}

#oneRepMax {
  max-width: 30rem;
  margin: auto;
}
#oneRepMax h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem;
}

#ORMTable {
  margin-top: 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#changeUnityToKgBtn, #changeUnityToLbBtn {
  display: none;
}

@media screen and (max-width: 600px) {
  #ORMInput {
    width: 60%;
  }
  #ORMInput #btnContainer {
    display: flex;
    flex-flow: wrap column;
  }
}
@media screen and (max-width: 400px) {
  .radioBtns {
    display: flex;
    flex-flow: wrap column;
  }
}
#imc {
  max-width: 30rem;
  margin: auto;
}
#imc h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem;
}

#slideDiv {
  /* max-width: 32rem; */
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
}

.slides {
  margin: 0;
  margin-top: 2.5rem;
  width: 5rem;
  height: 1.25rem;
  border-bottom: 4px solid;
  border-top: none;
  border-left: 2px solid;
  border-right: 2px solid;
}
.slides p {
  position: relative;
  top: -25px;
  left: -11px;
  font-size: 1.25rem;
}

#slide0 {
  border-left: 3px solid;
}

#slide6 {
  border: none;
  width: 0.5rem;
}

#label {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  margin: 0.75rem auto;
}

#displayIMC {
  margin: 1rem auto;
  width: 20rem;
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 0.25rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #ORMInput {
    width: 60%;
  }
  #imcInputContainer #btnContainer {
    display: flex;
    flex-flow: wrap column;
  }
}
@media screen and (max-width: 400px) {
  .radioBtns {
    display: flex;
    flex-flow: wrap column;
  }
}
.inputContainer {
  margin: auto;
  font-size: 1.5rem;
  width: 80%;
  align-items: center;
}

.inputsDiv {
  margin: auto;
  width: 75%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.25rem;
}

.border-red {
  border: 1px solid red;
}

.radioBtnsContainer {
  width: 100%;
  margin: auto;
  text-align: center;
}

.radioBtns {
  margin-right: 0.2rem;
}

.buttons {
  font-size: 1.5rem;
  width: 14rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.35rem;
  margin: 0.25rem;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
}

#imcInputContainer .inputsDiv {
  justify-content: space-evenly;
}

#ORMInput #weight,
#ORMInput #reps {
  width: 8rem;
}

#bfInputContainer .inputsDiv {
  margin: auto;
  width: 45%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.25rem;
}

#lang_img {
  width: 3rem;
  margin-top: 1rem;
  align-items: left;
  margin-left: 1rem;
}

/* 

Colors:

orange:
rgb(255, 120, 40)

*/